# .env.example - ДЛЯ GITHAB (скопируйте в .env и заполнит)
# НЕ ПУШИТь .env в git!

# Django
SECRET_KEY = $tpv+8s#6v$n73-ffa!@v!b^e_92h^cn!(2p6!yfvk4f5hqzce
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# CSRF
CSRF_TRUSTED_ORIGINS=http://localhost:8000,http://127.0.0.1:8000

# Telegram (опционально)
TELEGRAM_BOT_TOKEN = 8603048124:AAFrGZ2ZvjeejJIwJB2nCi6xCDFwDGN52CU
TELEGRAM_BOT_USERNAME=oxana_dz_111_bot
TELEGRAM_ADMIN_IDS = 1967786626